{% extends "home/base.html" %}

{% block title %}
Sample Page Content
{% endblock title %}

{% block navstuff %}
{% include 'common/nav_link.html' with content="Blah" %}
{% include 'common/nav_link.html' with content="Blah" %}
{% include 'common/nav_link.html' with content="Blah" %}
{% include 'common/nav_link.html' with content="Blah" %}
{% include 'common/nav_link.html' with content="Blah" %}
{% include 'common/nav_link.html' with content="Blah" %}
{% include 'common/nav_link.html' with content="Blah" %}
{% include 'common/nav_link.html' with content="Blah" %}
{% include 'common/nav_link.html' with content="Blah" %}
{% include 'common/nav_link.html' with content="Blah" %}
{% endblock navstuff %}

{% block content %}
<h1>Hey guys!</h1>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
<p>Some fillter content</p>
{% endblock content %}

{% block footer %}
<p>Filler</p>
<p>Filler</p>
<p>Filler</p>
<p>Filler</p>
<p>Filler</p>
<p>Filler</p>
<p>Filler</p>
<p>Filler</p>
<p>Filler</p>
<p>Filler</p>
<p>Filler</p>
<p>Filler</p>
<p>Filler</p>
<p>Filler</p>
<p>Filler</p>
{% endblock footer %}
