# This is the secret key when the project is created
PROJECT_KEY = 'secret_key'

# These are the ip/names of the website
HOST_NAMES = [
    'ip_number',
    'website_name',
]

# DATABASE information
DATABASE_NAME = 'database_name'
DATABASE_USER = 'database_user'
DATABASE_PASS = 'database_password'
