# Secret project information: turn debug off in production
PROJECT_KEY = 'secret_key'
PROJECT_DEBUG = True

# These are the ip/names of the website
HOST_NAMES = [
    'ip_number',
    'website_name',
]

# DATABASE information
DATABASE_NAME = 'database_name'
DATABASE_USER = 'database_user'
DATABASE_PASS = 'database_password'
