{% extends "common/base.html" %}


{% block title %}
{{ post.title }} | Francis Nepomuceno
{% endblock title %}


{% block styles %}
{{ block.super }}
<style>
#content > header > h1 {
  margin-top: 0;
}
#content {
  margin-bottom: 5em;
}
</style>
{% endblock styles %}


{% block header %}
<h1>Blog</h1>
{% endblock header %}


{% block content %}
{% load common_tags %}
<header>
<h1>{{ post.title }}</h1>
<p><strong>By: {{ post.author }}</strong></p>
</header>
{{ post.content | markdown | safe }}
<br />
<a href="{% url 'blog:index' %}">
Back to Blog Posts
</a>
{% endblock content %}


{% block footer %}
{% include 'common/nav_urls.html' %}
<div class="footer-col">
<h4>Contact Info</h4><hr />
<i>Email Address:</i> francisnepo@gmail.com
</div>
{% if user.is_authenticated %}
{% include 'blog/authenticated/list.html' %}
{% else %}
{% include 'blog/login.html' %}
{% endif %}
{% endblock footer %}
