<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width = device-width, initial-scale = 1">
{% load static %}
<title>{% block title %}{% endblock title %}</title>
{% block styles %}
<link rel="stylesheet" type="text/css"
  href="{% static 'common/css/base.css' %}">
{% endblock styles %}
</head>
<body>

<!-- Header -->
<header id="header">
{% block header %}{% endblock header %}
</header>

<!-- Content -->
<div id="container">
<div class="side"></div>
<div id="content">
{% block content %}{% endblock content %}
</div>
<div class="side"></div>
</div>

<!-- Footer -->
<div id="footer">
{% block footer %}{% endblock footer %}
</div>

</body>
</html>
